<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>about</title>
    <link rel="icon" href="/img/arnold.jpg">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}


      <p>this site was created by {{name}}. it uses data from mapbox API and weatherstack API</p>
    </div>
    {{>footer}}

  </body>
</html>
