<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pgName}}</title>
    <link rel="icon" href="/img/arnold.jpg"
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div clas="main-content">
      {{>header}}

      <h1><b>404 {{page}}NOT FOUND</b></h1>
    </div>

      {{>footer}}
  </body>
</html>
